@{
    ViewBag.Title = "Contact";
}
<h2>Developer Contact Information</h2>


<address>
    70 S Court Street<br />
    Athens, OH 45701<br />
    Copeland Hall Ohio University
</address>

<address>
    <strong>Tim Kieltyka:</strong>   <a href="mailto:tk848615@ohio.edu">tk848615@ohio.edu</a><br />
    <strong>Conor Faut:</strong>   <a href="mailto:cf085115@ohio.edu">cf085115@ohio.edu</a><br />
    <strong>Andrew Dymarkowski:</strong>   <a href="mailto:ad694414@ohio.edu">ad694414@ohio.edu</a><br />
    <strong>Kenneth Lavan:</strong>   <a href="mailto:kl980715@ohio.edu">kl980715@ohio.edu</a><br />
    <strong>Rick Thiebbout:</strong>   <a href="mailto:rt334015@ohio.edu">rt334015@ohio.edu</a><br />
</address>