@{
    ViewBag.Title = "Home Page";
}
<br/>

<div class="jumbotron">
    <h1>Team 11</h1>
    <p class="lead">This is the homepage for Team 11's application.</p>
    <style>
        .jumbotron {
        background-color: #123C69; /* Orange */
        color: #ffffff;
                    }
    </style>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Centric</h2>
        <p>
            
        </p>
        <p><a class="btn btn-default" href="https://centricconsulting.com/">Centric Website &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p><a class="btn btn-default" href="">Button &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p><a class="btn btn-default" href="">Button &raquo;</a></p>
    </div>
    <style>
        body {
            background-color: #EEE2DC;
        }
    </style>
</div>